body {
    width: 80%;
    height: 80vh;
    position: relative;
    background: rgba(255, 165, 0, 0.7);
}

img {
    position: absolute;
    top: 20%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 10%;
    left: 65%;
    font-size: 60px;
    width: 50%;
    font-weight: 900;
    text-align: center;
}

p {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    top: 50%;
    left: 63%;
    font-size: 25px;
    width: 50%;
    text-align: right;
}

button {
    position: absolute;
    top: 92%;
    left: 67%;  
    width: 500px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #0080ff;
    border: none;
    font-size: 18px;
    color: beige;
}

button:nth-child(4) {
    position: absolute;
    top: 75%;
    left: 67%;
    width: 500px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
    border: 2px solid #121212;
    font-size: 18px;
    color: #121212;
}

span {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 110%;
    left: 80%;
    font-size: 12px;
}